

/* postpublic.module.css */
.container-posts {
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  
  .img-post{
width: 100%;
border-radius: 14px;



  }

  .text-post{
  
      font-size: 1.2em;
      line-height: 1.4;
      text-align: center;
      white-space: normal; /* Permite que el texto se divida en líneas */
      word-wrap: break-word; /* Fuerza un salto de línea si una palabra es demasiado larga */
      max-width: 100%; /* Evita que el contenedor sea más ancho que su contenedor padre */
      overflow: hidden; /* Asegura que nada se desborde */
      box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
    
    
  }
  .post-coment{
    background-color: rgb(33, 106, 91);
  }