.container-notice{
    background:linear-gradient(#577877 , #555) ;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.8ch;
    width: 450px;
    

    }
.container-notice:hover{
    opacity:55%;


}

.img-info{
width:100%;
background:linear-gradient(#770606e1 , #557555) ; 
}

.title-notice{
text-align: center;
font-size: 1.2em;
}
 
.text-information{
 text-overflow: ellipsis;
 overflow: hidden;
 font-size: 1.8ch;
 
}