
.blog-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #577877;
    
  }
  
  .navbar-blog {
    font-size: 1.5em;
    display: flex;
  }
  
  .opciones-navbar {
    display:flex;
    text-decoration: none;
    color: cornsilk;
    gap: 92px;  
    margin-right: 15px;
  }
  
  .opciones-navbar.active {
    display: flex; 
  }
  .activacion{
    display: none;
  }
  .opc-nav{
    color: white;
    text-decoration: none;
    font-size: 1.7cap;
  }
  
  @media (max-width: 794px) {
    .opciones-navbar {
      display: none; 
      
    }
  
    .opciones-navbar.active {
      display: flex; 
      flex-direction: column;
      gap: 20px;  
    
    }
  
    .navbar-blog {
      flex-direction: column; 
      align-items: center; 
    }
  
    .activacion {
      display: block;
      cursor: pointer;
      margin-bottom: 10px; 
    }
  }
  