
.blog-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #577877;
    
  }
  
  .navbar-blog {
    font-size: 1.5em;
    display: flex;
  }
  
  .opciones-navbar {
    display:flex;
    text-decoration: none;
    color: cornsilk;
    gap: 92px; /* Espacio entre elementos en escritorio */
    margin-right: 15px;
  }
  
  .opciones-navbar.active {
    display: flex; /* Asegúrate de que se muestre como flex en modo activo */
  }
  .activacion{
    display: none;
  }
  .opc-nav{
    color: white;
    text-decoration: none;
    font-size: 1.7cap;
  }
  
  @media (max-width: 794px) {
    .opciones-navbar {
      display: none; /* Oculta las opciones por defecto */
       /* Espacio reducido en pantallas pequeñas */
    }
  
    .opciones-navbar.active {
      display: flex; /* Muestra las opciones cuando está activo */
      flex-direction: column;
      gap: 20px;  
    
    }
  
    .navbar-blog {
      flex-direction: column; /* Cambia a columna para mejor disposición */
      align-items: center; /* Centra los elementos */
    }
  
    .activacion {
      display: block;
      cursor: pointer;
      margin-bottom: 10px; /* Espacio debajo del botón */
    }
  }
  