.sub-text{
    text-align: center;
    font-size: 1.5em;
    
}

/*

.container-reco {
    position: relative;
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
/*}
/*
.container-reco:hover {
    opacity: .7; /* Opaque al hacer hover */
/*}

/*.link-reco {
    display: none; /* Oculta el enlace inicialmente */
  /*  bottom: 10px; /* Ajusta según sea necesario */
     /* Ajusta según sea necesario */
    /*color: blue; /* Cambia el color del enlace */
    /*text-decoration: underline; /* Subraya el enlace */
/*    text-align: right;
    z-index: 1;
    position: absolute;
}

.container-reco:hover .link-reco {
    display: block; /* Muestra el enlace al hacer hover */
/*}
*/
.container-reco {
    position: relative;
    transition: opacity 0.3s ease; 
}

.container-reco:hover {
    opacity: 0.7; 
}

.link-reco {
    padding-top: 0%;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    position: absolute; /* Posiciona el enlace dentro del contenedor */
    bottom: 10px; 
    right: 10PX;
    color:#e7ebea; 
    text-decoration:none; 
    z-index: 1; 
}

.container-reco:hover .link-reco {
    opacity: 1; 
}
