.sub-text{
    text-align: center;
    font-size: 1.5em;
    padding-top: 0%;
    
}

.container-reco {
    position: relative;
    background:linear-gradient(#578777, #193940) ; 
    transition: opacity 0.3s ease;   height: 200px; /* Mantiene la altura del contenedor */
    padding: 20px;
    color: white; 
    justify-content: center; 
    align-items: center; 
    
}

.container-reco:hover {
    opacity: 0.7; 
}

.link-reco {
    opacity: 0; 
    transition: opacity 0.3s ease; 
    position: absolute; 
    bottom: 10px; 
    right: 10PX;
    color:#e7ebea; 
    text-decoration:none; 
    z-index: 1; 
}

.container-reco:hover .link-reco {
    opacity: 1; 
}
