body {
  background-color: #193940;
  color: white;
  font-family: Ubuntu, sans-serif;
  margin: 0;
}



p{
  
  padding: 20px;
}
.body-blog{
padding-top: 25px;
}
/*.container-titular{

  display: flex;
  justify-content: center;
}
.container-titular-img{
  background-image: url("./imagenes/img-titular.jpg");
}*/
.container-titular {
  display: flex;
  margin: 25px; 
  box-shadow: 6px 0 30px rgba(55, 119, 110, 0.5); 
  
}




.Container-Notice-Concern{
display:flex;
overflow: hidden;
text-overflow: ellipsis;
margin: 20px;
gap: 8%;
padding-top: 60px;

}
.apartado-comunicado {
padding-top: 8%;}




.sect-bento{
 padding-top: 5%;

}

