body {
  background-color: #193940;
  color: white;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-blog {
  flex-grow: 1;
  overflow-y: auto; /* Permite el desplazamiento si el contenido es largo */
}

.footer {
  color: #fff;
  text-align: center;
  background-color: #111;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  bottom: 0;
}



.container-titular {
  display: flex;
  margin: 25px;
  box-shadow: 6px 0 30px rgba(55, 119, 110, 0.5);
}

.container-notice-concern {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 9%;
  margin: auto;
  padding-top: 10%;
}

.apartado-comunicado {
  padding-top: 8%;
}

.sect-bento {
  display: grid;
  place-items: center;
  padding-top: 5%;
}


@media (max-width: 758px) {
  body {
    background-color: #193940;
    color: white;
    font-family: Ubuntu, sans-serif;
  }

  p {
    padding: 20px;
  }

  .body-blog {
    padding-top: 55px;
  }

  .container-titular {
    display: flex;
    margin: 25px;
    box-shadow: 6px 0 30px rgba(55, 119, 110, 0.5);
  }

  .container-notice-concern {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 6%;
    padding-top: 12%;
  }

  .apartado-comunicado {
    padding-top: 18%;
  }

  .sect-bento {
    display: grid;
    place-items: center;
    padding-top: 15%;
  }

  .footer {

    padding-top: 2px;
  }
}
