body {
  background-color: #193940;
  color: white;
  font-family: Ubuntu, sans-serif;
  margin: 0;
}

p{
  
  padding: 20px;
}
.body-blog{
padding-top: 25px;
}
.Container-Notice-Concern{
display:flex;
overflow: hidden;
text-overflow: ellipsis;
margin: 20px;
gap: 8%;
padding-top: 25px;

}
.apartado-comunicado{
  background-color: #577877;
  width: auto;
  height: 200px;
  margin-top: 35px;
  
}
.App-navbar{

}